testingData*
trainedModels*
training*
trainAll_cp.out
pytorchModels/trainAll2/*
!pytorchModels/trainAll2/v2-000075.txt
!pytorchModels/trainAll2/trainAll2.out
pytorchModels/trainAll3_PGPU/*
!pytorchModels/trainAll3_PGPU/nohup.out
!pytorchModels/trainAll3_PGPU/v3-000059.txt
pytorchModels/trainAll4_1000PGPU/*
!pytorchModels/trainAll4_1000PGPU/nohup.out
!pytorchModels/trainAll4_1000PGPU/v4-000054.txt
evalResults/d*
evalResults/h*
evalResults/i*
pytorchModels/d*
pytorchModels/i*
clairvoyante/demoRun.sh
clairvoyante/h5*
clairvoyante/load*
clairvoyante/save_weights*
clairvoyante/train.sh
